.statistics {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;

  text-align: center;
  border-radius: 5px;
  border: 1px solid rgba(224, 227, 230, 0.78);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.statTitle {
  padding-top: 30px;
  padding-bottom: 30px;
  text-transform: uppercase;
  font-size: 28px;
}

.statList {
  display: flex;
  border-top: 1px solid rgba(224, 227, 230, 0.78);
  background-color: rgba(233, 236, 240, 0.78);
}

.statItem {
  flex-basis: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 1px solid rgba(224, 227, 230, 0.78);
}

.statItem:last-child {
  border-right: none;
}

.statLabel {
  display: block;
  color: gray;
}

.statPercentage {
  display: block;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 700;
}
